<header class="site-header">
  <div class="container header-inner">
    <a href="/" class="logo">Call & Snack</a>

    <nav class="main-nav">
      <a href="/">Accueil</a>
      <a href="/menu">Menu</a>
      <a href="/cart">Panier</a>
    </nav>
  </div>
</header>