<section class="page-banner" style="background-image: url('<%= bannerImage %>');">
  <div class="page-banner__overlay">
    <div class="container">
      <span class="section-badge"><%= bannerBadge %></span>
      <h1><%= bannerTitle %></h1>
      <% if (bannerText) { %>
        <p><%= bannerText %></p>
      <% } %>
    </div>
  </div>
</section>